.DetailsPage {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.DetailsPage__buy-button {
  display: block;
  padding: 20px 40px;
  margin: 60px auto;
  font-size: 18px;
  background: seagreen;
  color: white;
  border: none;
}

.DetailsPage__image {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
