.ProductList__search-wrapper {
  border: 2px solid red;
  max-width: 100%;
}

.ProductList__search-input {
  display: block;
  padding: 10px;
  font-size: 18px;
  margin: 40px auto;
  width: 400px;
}

.ProductList__list {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 30px;
  list-style-type: none;
  font-size: 20px;
}

.ProductList__list-item {
  margin-bottom: 40px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


.ProductList__product-img {
  width: 250px;
  height: 250px;
  margin-right: 50px;
}

.ProductList__product-name {
  font-size: 24px;
  margin-right: 20px;
}

.ProductList__product-price {
  margin-left: auto;
  font-weight: 700;
  font-size: 30px;
  color: green;
  margin-right: 20px;
}

.ProductList__product-details-button {
  padding: 20px 40px;
  margin-right: 20px;
  font-size: 18px;
  background: steelblue;
  color: white;
  border: none;
}
