.JourneyPlayback__wrapper {
  text-align: center;
}

.JourneyPlayback__iframe {
  border: none;
  margin: 0 auto;
  display: block;
  box-shadow: 1px 1px 46px rgba(0, 0, 0, 0.2);
}

.JourneyPlayback__next-button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  border: none;
  background: crimson;
  color: white;
  font-size: 20px;
}

.JourneyPlayback__url {
  font-size: 20px;
}
